<h1>log in</h1>

<form action="/login" METHOD="POST">
    <label>username:</label>
    <br>
    <input type="text" name="username">
    <br>
    <label>password:</label>
    <br>
    <input type="password" name="password">

    <input type="submit" value="Log in">
</form>